@font-face {
    font-family: "PT Sans Narrow";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src:
    url("fonts\PTSansNarrow-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "PT Sans Narrow";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src:
    url("fonts\PTSansNarrow-Bold.ttf") format("ttf");
}
