//Colors
$lightgrey: #F8F5F2;
$darkgrey: #292929;
$darkgrey2: #242424;
$lightbrown: #826550;
$darkbrown: #6A4D38;


//Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

//fonts
$default-font: "PT Sans Narrow", "Arial", sans-serif;
$custom-font: "Arial", sans-serif;
