.advantages__wrapper {
    position: relative;
    top: -1px;
    background-color: $darkgrey2;
    padding-bottom: 34px;

    &::after {
        content: "";
        background: url(../../img/angle.svg) no-repeat;
        position: absolute;
        background-position-x: center;
        bottom: -1px;
        width: 100%;
        height: 86px;
    }
}

.advantages ul {
    margin: 0;
}

.advantages__list {
    padding: 0;
}

.advantages__icon {
    margin: 41px auto 31px;
}

.advantages__item {
    padding: 0 20px;
}

.advantages__title {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin: 16px 0 12px;
}

.advantages__description {
    color: #ffffff;
    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-transform: none;
    font-style: normal;
    padding: 0 20px;
    margin-top: 12px;
}
