.reviews {
    margin-top: 27px;
    background-color: $lightgrey;
    @media (min-width: $tablet-width) {
        padding: 0 92px;
    }
}

.reviews__wrapper {
    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        max-width: 902px;
        margin: auto;
    }

    @media (min-width: $desktop-width) {
        max-width: 960px;
        margin: auto;
    }
}

.reviews h2 {
    margin-top: 0;

    @media (min-width: $tablet-width) {
        margin-top: 10px;
    }
}

.reviews__write {
    @media (max-width: $mobile-width-only) {
        display: none;
    }
}

.reviews__list {
    @media (min-width: $desktop-width) {
        width: 818px;
        margin: auto;
    }

}

.reviews__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        font-size: 40px;
        margin-bottom: 0;
    }
}

.reviews__item {
    margin: 0 20px;

    @media (min-width: $tablet-width) {
        border: rgba($color: #000000, $alpha: 0.1) groove 1px;
        width: 542px;
        height: 160px;
    }

    @media (min-width: $desktop-width) {
        max-width: 818px;
        margin: auto;
    }
}

.reviews__item-wrapper {
    display: flex;
    flex-direction: row;
    min-width: 280px;
    width: auto;
    justify-content: left;

    @media (min-width: $tablet-width) {
        padding: 0px 50px 0px 30px;
    }

    @media (min-width: $desktop-width) {
        padding: 0;
        width: 818px;
        margin: auto;
    }

}

.reviews__author-name {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;

    @media (min-width: $tablet-width) {
        position: relative;
    }
}

.reviews__author-info {
    position: relative;

    @media (min-width: $tablet-width) {
        top: 31px;
        display: flex;
        flex-direction: column;
    }

    @media (min-width: $desktop-width) {
        width: 480px;
    }
}

.reviews__author-image {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    top: 9px;

    @media (min-width: $tablet-width) {
        border-radius: 50%;
        top: 0;
        width: 80px;
        height: 80px;
        margin: 40px 30px 40px 0;
    }

    @media (min-width: $desktop-width) {
        width: 249px;
        height: 160px;
        margin: 0 71px 0 0;
        border-radius: 0px;
    }
}

.reviews__text {
    font-size: 18px;
    line-height: 27px;

    @media (min-width: $tablet-width) {
        margin: 12px 0 0 0;
    }
}

.reviews__title-wrapper {
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        margin-bottom: 37px;
    }
}
