.site-list {
    font-weight: bold;

    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: flex-start;
        text-align: center;
        width: 570px;
    }

    @media (min-width: $desktop-width) {
        width: 780px;
    }
}

.site-list a {
    position: relative;
    display: block;
    padding: 12px 21px;
    padding-bottom: 13px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $lightbrown;
    border-top: 1px solid #886e5b;
    border-bottom: 1px solid #71543f;


    @media (min-width: $tablet-width) {
        padding: 0;
        padding-top: 25px;
        padding-bottom: 23px;
        background: none;
        border: none;
    }
}

.site-list__item {

    flex-grow: 1;

    @media (min-width: $tablet-width) {
        margin-right: 32px;

        &:last-child {
            margin-right: 0px;
        }

        &--active {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 3px;
                background: $lightbrown;
            }
        }
    }
    @media (min-width: $desktop-width) {
        margin: 0px;
    }
}

.site-list__item a[href] {
    @media (min-width: $tablet-width) {
        &:hover {
            color: #826550;
            background-color: #000000;
        }

        &:active {
            color: #ffffff;
            background-color: #000000;
            opacity: 0.3;
        }
    }

    @media (min-width: $desktop-width) {

        &:hover {
            color: #000;
            background-color: #ffffff;
        }

        &:active {
            color: rgba($color: (#000000), $alpha: 1.0);
            background-color: #ffffff;
            opacity: 1;
        }
    }
}
