.slider-advantages__toggles,
.slider-reviews__toggles {
    text-align: center;

}

.slider-advantages__toggles {
    @media (min-width: $tablet-width) {
        display: none;
    }
}

.slider-advantages__toggle,
.slider-reviews__toggle {
    margin: 0 11px 12px;

}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
    @media (min-width: $tablet-width) {
        &::before {
            color: #000000;
        }

        width: 50px;
        height: 162px;
        border: rgba($color: #000000, $alpha: 0.1) groove 1px;
    }
}

.slick-prev.slick-arrow {
    left: -29px;
    border-right: none;

    @media (min-width: $desktop-width) {
        left: -71px;
        border: rgba($color: #000000, $alpha: 0.1) groove 1px;
    }
}

.slick-next.slick-arrow {
    right: -29px;
    border-left: none;

    @media (min-width: $desktop-width) {
        right: -71px;
        border: rgba($color: #000000, $alpha: 0.1) groove 1px;
    }
}

.slider-reviews__toggles {
    @media (min-width: $tablet-width) {
        position: relative;
        top: -20px;
        background-color: $lightgrey;
        width: 126px;
        margin: 7px auto;
    }

    @media (min-width: $desktop-width) {
        margin: 42px auto;
        top: 0;
    }
}

.slider-reviews__toggle {
    @media (min-width: $tablet-width) {
        margin: 7px;
    }
}
