.user-list__login {
    position: relative;
    display: block;
    padding: 17px 21px;
    padding-left: 49px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;

    @media (min-width: $tablet-width) {
        width: 60px;
        height: 70px;
        padding: 0;

        span {
            position: absolute;
            opacity: 0;
        }

        &:hover .user-list__login-icon {
            transform: translate(0px, -3px);
        }

        &:active .user-list__login-icon {
            opacity: 0.3;
        }
    }

    @media (min-width: $desktop-width) {
        span {
            opacity: 1;
            position: relative;
            text-align: left;
            left: 67px;
            top: 28px;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
        }

        &:hover .user-list__login-icon {
            transform: translate(0px, 0px);
        }

        width: 150px;
        height: 72px;

        &:hover {
            color: #000;
            background-color: #ffffff;
        }

        &:active {
            color: rgba($color: (#000000), $alpha: 1.0);
            background-color: #ffffff;
            opacity: 1;
        }
    }
}

.user-list__login-icon {
    position: absolute;
    top: 17px;
    left: 21px;
    width: 16px;
    height: 16px;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
        opacity: 1;
        top: 28px;
        left: 30px;
    }

    @media (min-width: $desktop-width) {
        left: 32px;
    }
}

.user-list {
    @media (min-width: $tablet-width) {
        width: auto;
        max-width: 160px;
    }
}
