.user-list__login {
    position: relative;
    display: block;
    padding: 17px 21px;
    padding-left: 49px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;

    @media (min-width: $tablet-width) {
        width: 60px;
        height: 70px;
        padding: 0;

        span {
            position: absolute;
            opacity: 0;
        }

        &:hover .user-list__login-icon {
            transform: translate(0px, -3px);
        }

        &:active .user-list__login-icon {
            opacity: 0.3;
        }
    }
}

.user-list__login-icon {
    position: absolute;
    top: 17px;
    left: 21px;
    width: 16px;
    height: 16px;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
        opacity: 1;
        top: 27px;
        left: 12px;
    }
}
